# Object files
*.o
*.obj

# Precompiled Headers
*.pch

# Libraries
*.lib
*.a
*.so
*.dylib

# Executables
*.exe
*.out
*.app

# Debug files
*.pdb
*.dsym

# Build directories
build/
bin/
obj/

# IDE specific files
.vscode/
.idea/
*.suo
*.user
*.sln
*.vcxproj*
